a{color: #434d68;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;}

.htmleaf-container{  margin: 0 auto;  overflow: hidden;  }
.htmleaf-content {  padding-left: 20px; }

.htmleaf-content h2 {  margin: 0 0 2em;  opacity: 0.1;  }
/* Header */
.htmleaf-header{
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
}
.htmleaf-header h1 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
}
.htmleaf-header h1 span {  display: block;  font-size: 60%;  font-weight: 400;  padding: 0.8em 0 0.5em 0;  color: #c3c8cd;  }
/*nav*/
.htmleaf-demo a{color: #1d7db1;text-decoration: none;}
.htmleaf-demo{width: 100%;padding-bottom: 1.2em;}
.htmleaf-demo a{display: inline-block;margin: 0.5em;padding: 0.6em 1em;border: 3px solid #1d7db1;font-weight: 700;}
.htmleaf-demo a:hover{opacity: 0.6;}
.htmleaf-demo a.current{background:#1d7db1;color: #fff; }
/* Top Navigation Style */
.htmleaf-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.htmleaf-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.htmleaf-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.htmleaf-icon span {
	display: none;
}

.htmleaf-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
/* footer */
.htmleaf-footer{width: 100%;padding-top: 10px;}
.htmleaf-small{font-size: 0.8em;}
.center{text-align: center;}
/****/
.related {
	color: #fff;
	background: #333;
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em 0;
	overflow: hidden;
}

.related > a {
	vertical-align: top;
	width: calc(100% - 20px);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 4px;
}
.related a:hover img,
.related a:active img {
	opacity: 1;
}
.related h3{font-family: "Microsoft YaHei", sans-serif;}
.related a h3 {
	font-weight: 300;
	margin-top: 0.15em;
	color: #fff;
}
/* icomoon */
.icon-htmleaf-home-outline:before {
	content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.htmleaf-header {
		padding: 3em 10% 4em;
	}
	.htmleaf-header h1 {
		font-size:2em;
	}
}


#div_tree {  font: 10px Verdana, sans-serif;  display: inline-block;  width: 225px;  height: 390px;  overflow: auto;  font-size: 12px;  padding: 20px 0;  }
#div_log {  width: 400px;  height: 400px;  overflow: scroll;  padding:10px;  vertical-align: top;  display: inline-block;  border: 1px solid gray;  font: 10px Verdana, sans-serif;  line-height: 16px;  }
ul.tree, ul.tree ul {  list-style-type: none;  background: url(../images/vline.png) repeat-y;  margin: 0;  padding: 0;  padding-left: 7px;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  cursor: default;  }
li.last {  background-image: url("../images/lastnode.png");  background-repeat: no-repeat;  }
ul.tree ul {  padding-left: 7px;  }
ul.tree li {  margin: 0;  padding: 0 12px;  line-height: 22px;  background: url(../images/node.png) no-repeat;  }
ul.tree li.last {  background: url(../images/lastnode.png) no-repeat;  }
img.exp_col {  position: absolute;  margin-top: 4px;  margin-left: -20px;  vertical-align: sub;  }
img.exp_col_empty {  position: absolute;  margin-top: 4px;  margin-left: -20px;  vertical-align: sub;  width: 16px;  }
img.icon_tree {  vertical-align: middle;  padding-left: 3px;  margin-top: -3px;  }
img.icon_checkbox {  vertical-align: middle;  padding-left: 3px;  margin-top: -1px;  }
a.node {  padding: 2px;  }
span.node a {  padding-left: 3px;  }
span.node {  margin-left: -1px;  padding-right: 3px;  padding-top: 4px;  padding-bottom: 4px;  cursor: pointer;  }
span.node_selected {  margin-left: -2px;  padding-right: 3px;  padding-top: 4px;  padding-bottom: 4px;  border-radius: 2px;  }
span.node_selected a {  padding-left: 3px;  }
.menu,.sub-menu {  margin: 0;  padding: 0;  font: 10px Verdana, sans-serif;  }
.menu, .sub-menu {  list-style: none;  background: #000;  }
.sub-menu {  background: #F1F1F1;  }
.menu a {  text-decoration: none;  display: inline-block;  padding: 8px;  }
.menu span {  position: absolute;  width: 100%;  height: 100%;  }
.menu div {  position: absolute;  right: 4px;  top: 0px;  padding: 8px;  }
.menu .menu_img {  vertical-align: middle;  }
.menu img {  text-decoration: none;  display: inline-block;  vertical-align: sub;  padding-left: 5px;  }
.menu li {  position: relative;  }
.menu li:hover {  background: aquamarine;  cursor: pointer;  }
.sub-menu li:hover {
	background: aquamarine;
}
.menu li:hover > .sub-menu {
	display: block;
}

.menu {
	width: 150px;
	position: absolute;
	background: #F1F1F1;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: default;
	box-shadow: 2px 2px 3px #BDBDBD;
}
.sub-menu {
	display: none;
	position: absolute;
	min-width: 150px;
	box-shadow: 2px 2px 3px #BDBDBD;
}

.menu .sub-menu {
	top: 0;
	left: 100%;
}
.pop_tree .pop_main .pop_top{margin-bottom: 0;}
.pop_tree .pop_main {width: 765px;margin-left: -382px;}
.pop_tree .list_main{display: inline-block;width: 520px;}
.pop_tree .list_main ul {padding: 20px 0;  }
.pop_tree .list_main ul li{float: left;height: 30px;margin-bottom: 18px;}
.pop_tree .list_main ul li input{width: 160px;height: 30px;border: solid 1px #d4dadf;text-indent: 10px;border-radius: 4px;color:#434d68;font-size: 12px; }
.pop_tree .list_main  label{font-size: 12px;color:#434d68; line-height: 30px;width: 83px;text-align: right;display: inline-block;}
.pop_tree .list_main .details_con label{width: 60px;}
.pop_tree .list_main .details_con textarea{width: 455px;height: 100px;border: solid 1px #d4dadf;padding: 10px;border-radius: 4px;line-height: 18px;color:#434d68;resize: none; margin: 5px 0 0 20px;display: inline-block; font-size: 12px;}
.pop_tree .pop_list{margin-top: 50px;}
.pop_tree .pop_main .pop_list .list_btn div{margin-right: 25px;}